/*Variables*/
$font: 'Lato';
$fontSize: 3.5vw;
$fontWeight: 300;
$fontColor: white;
$red: #F24B4B;
$blue: #244F75;
$lightblue: #60BFBF;
$purple: #8C4B7E;
$white: white;
$yellow: #F8BB44;

$animationNames:strip--u4rx9pe,strip--u4rx9pg,strip--u4rx9q8,strip--u4rx9qn,strip--u4rx9r0;
$animationColors: $blue,$lightblue,$purple,$yellow,$red;
$animationTimes:0.5s,0.8s,0.7s,1s,1.1s;
$keyframeProperties: translate3d(-100%, 0, 0),translate3d(0, 100%, 0),translate3d(0, -100%, 0),translate3d(0, 100%, 0),translate3d(100%, 0, 0);
