@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

/* general */
* {
  box-sizing: border-box;
}

body {
  margin: 10px 0 0 0;
  //Para esconder la barra de scroll vertical y horizontalmente
  overflow: hidden;
}

h1 {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
  font-family: $font;
}

/* strips */
.strips {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  cursor: pointer;

  .strip {
    @include flexCenter;
    position: relative;
    width: 19.9vw;
    margin: 0.1vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
  
    .strip_content {
      @include flexCenter;
      position: absolute;
      height: 100vh;
      width: 100%;
      text-align: center;
    }
  }
}
/* before */
.strips .strip_content:before {
  content: "";
  @include flexCenter;
  @include transform(skew(30deg),scaleY(1),translate(0, 0));
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.strips .strip_content:hover:before {
    @include transform(skew(0deg),scaleX(2),translate(0, 0));
    opacity: 0.2;
}

//Bucles for
//Recorremos los hijos de .strip y les aplicamos una animación
@for $i from 1 through 5 {
  .strip:nth-child(#{$i}) .strip_content {
    @include animation(nth($animationColors,$i),nth($animationNames,$i),nth($animationTimes,$i))
  }
}

@for $i from 1 through 5 {
  @keyframes #{nth($animationNames,$i)} {
    from {
      transform: nth($keyframeProperties,$i)
    }
  }
}


//Codigo antes de incluïr los bucles for
/* strips 1-5: nth-child 1-5 */
/* .strip:nth-child(1) .strip_content {
    @include animation($blue,strip--u4rx9pe,0.5s)
} */
/* @keyframes strip--u4rx9pe {
  from {
    transform: translate3d(-100%, 0, 0);
  }
} */

/* .strip:nth-child(2) .strip_content {
    @include animation($lightblue,strip--u4rx9pg,0.8s)
 
} */
/* @keyframes strip--u4rx9pg {
  from {
    transform: translate3d(0, 100%, 0);
  }
} */

/* .strip:nth-child(3) .strip_content {
    @include animation($purple,strip--u4rx9q8,0.7s)
  
} */
/* @keyframes strip--u4rx9q8 {
  from {
    transform: translate3d(0, -100%, 0);
  }
} */

/* .strip:nth-child(4) .strip_content {
    @include animation($yellow,strip--u4rx9qn,1s)

} */
/* @keyframes strip--u4rx9qn {
  from {
    transform: translate3d(0, 100%, 0);
  }
} */

/* .strip:nth-child(5) .strip_content {
    @include animation($red,strip--u4rx9r0,1.1s)
  
} */
/* @keyframes strip--u4rx9r0 {
  from {
    transform: translate3d(100%, 0, 0);
  }
}  */


